<div class="desktop-header-menu">
    <li class="nav-item dropdown">
        <a class="nav-link main-link dropdown-toggle" href="/collections/sloan-fixtures" id="nav-fixtures" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sloan Fixtures
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-fixtures">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 py-3 p-lg-5 nav-fixtures-left">
            <div class="nav-list-title-container" data-id="navFlush">
                <a href="/collections/sloan-flushometers" class="nav-list-title">Sloan Flushometers</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
            </div>
            <div class="nav-list-title-container" data-id="navFaucet">
                <a href="/collections/sloan-faucets" class="nav-list-title">Sloan Faucets</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
            </div>
            <div class="nav-list-title-container" data-id="navSoap">
                <a href="/collections/sloan-soap-dispensers" class="nav-list-title">Sloan Soap Dispensers</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
            </div>
            </div>

            <div class="col-12 col-lg-4 py-3 p-lg-5 nav-tabs-middle">
            <div class="nav-collection-collections-container col-12 flex-column" data-id="navFlush">
                <div class="nav-collection-items-container" id="manualDiParent">
                <a href="/collections/manual-flushometers/diaphragm" class="nav-collection-items-title">Manual - Diaphragm</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="manualPiParent">
                <a href="/collections/manual-flushometers/piston" class="nav-collection-items-title">Manual - Piston</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="sensorParent">
                <a href="/collections/sensor-flushometers" class="nav-collection-items-title">Sensor Hardwired/Battery/Solar</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="specialtyParent">
                <a href="/collections/specialty-flushometers" class="nav-collection-items-title">Specialty</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
            </div>

            <div class="nav-collection-collections-container col-12 flex-column" data-id="navFaucet">
                <div class="nav-collection-items-container" id="clarkParent">
                <a href="/collections/clark-street" class="nav-collection-items-title">Clark Street</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="rushParent">
                <a href="/collections/rush-street" class="nav-collection-items-title">Rush Street</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="premierParent">
                <a href="/collections/premier" class="nav-collection-items-title">Premier</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="deluxeParent">
                <a href="/collections/deluxe" class="nav-collection-items-title">Deluxe</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="standardParent">
                <a href="/collections/standard" class="nav-collection-items-title">Standard</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
            </div>

            <div class="nav-collection-collections-container col-12 flex-column" data-id="navSoap">
                <div class="nav-collection-items-container" id="optimaParent">
                <a href="/collections/optima" class="nav-collection-items-title">Optima</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
                <div class="nav-collection-items-container" id="sloanSoapParent">
                <a href="/collections/sloan-soap-dispensers" class="nav-collection-items-title">Sloan</a>
                <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/arrow-right.svg?v=1666302999" alt="arrow right" />
                </div>
            </div>
            </div>

            <div class="col-12 col-lg-4 py-3 p-lg-5 nav-tabs-right">           
            <div class="col-12 d-flex flex-column">

                <!-- Flushometers -->
                <div class="col-12 flex-column pb-3 nav-collection-items-wrapper" id="manualDiChild">
                <a href="/collections/manual-flushometers/regal" class="nav-collection-item">Regal</a>
                <a href="/collections/manual-flushometers/royal" class="nav-collection-item">Royal</a>
                <a href="/collections/manual-flushometers/sloan" class="nav-collection-item">Sloan</a>
                <a href="/collections/manual-flushometers/uppercut" class="nav-collection-item">UPPERCUT</a>
                </div>

                <div class="col-12 flex-column nav-collection-items-wrapper" id="manualPiChild">
                <a href="/collections/manual-flushometers/crown" class="nav-collection-item">Crown</a>
                <a href="/collections/manual-flushometers/gem-2" class="nav-collection-item">Gem-2</a>
                <a href="/collections/manual-flushometers/naval" class="nav-collection-item">Naval</a>
                <a href="/collections/manual-flushometers/dolphin" class="nav-collection-item">Dolphin</a>
                <a href="/collections/manual-flushometers/cx-series" class="nav-collection-item">CX Series</a>
                </div>

                <div class="col-12 flex-column pb-3 nav-collection-items-wrapper" id="sensorChild">
                <a href="/collections/sensor-flushometers/g2" class="nav-collection-item">G2</a>
                <a href="/collections/sensor-flushometers/ecos" class="nav-collection-item">ECOS</a>
                <a href="/collections/sensor-flushometers/solis" class="nav-collection-item">SOLIS</a>
                <a href="/collections/sensor-flushometers/optima-regal" class="nav-collection-item">Optima Regal</a>
                <a href="/collections/sensor-flushometers/optima-royal" class="nav-collection-item">Optima Royal</a>
                <a href="/collections/sensor-flushometers/optima-sloan" class="nav-collection-item">Optima Sloan</a>
                <a href="/collections/sensor-flushometers/cx-series" class="nav-collection-item">CX Series</a>
                </div>

                <div class="col-12 flex-column nav-collection-items-wrapper" id="specialtyChild">
                <a href="/collections/specialty-flushometers/slimline" class="nav-collection-item">Slimline</a>
                <a href="/collections/specialty-flushometers/footpedal" class="nav-collection-item">Footpedal</a>
                <a href="/collections/specialty-flushometers/hydraulic" class="nav-collection-item">Hydraulic</a>
                <a href="/collections/specialty-flushometers/concealed" class="nav-collection-item">Concealed</a>
                <a href="/collections/specialty-flushometers/exposed" class="nav-collection-item">Exposed</a>
                <a href="/collections/specialty-flushometers/side-mount-operator" class="nav-collection-item">Side Mount Operator</a>
                </div>
                <!-- /Flushometers -->

                <!-- Faucets -->
                <div class="col-12 flex-column pb-3 nav-collection-items-wrapper" id="clarkChild">
                <a href="/collections/clark-street/etf-410" class="nav-collection-item">ETF-410</a>
                <a href="/collections/clark-sreet/ebf-415" class="nav-collection-item">EBF-415</a>
                </div>

                <div class="col-12 flex-column pb-3 nav-collection-items-wrapper" id="rushChild">
                <a href="/collections/rush-street/etf-420" class="nav-collection-item">ETF-420</a>
                <a href="/collections/rush-street/ebf-425" class="nav-collection-item">EBF-425</a>
                </div>

                <div class="col-12 flex-column nav-collection-items-wrapper" id="premierChild">
                <a href="/collections/premier/bays-high-mount-efx-100-series" class="nav-collection-item">BAYS High Mount EFX 100 Series</a>
                <a href="/collections/premier/bays-mid-mount-efx-200-series" class="nav-collection-item">BAYS Mid Mount EFX 200 Series</a>
                <a href="/collections/premier/bays-low-mount-efx-300-series" class="nav-collection-item">BAYS Low Mount EFX 300 Series</a>
                <a href="/collections/premier/bays-low-mount-with-base-efx-600-series" class="nav-collection-item">BAYS Low Mount with Base EFX 600 Series</a>
                <a href="/collections/premier/bays-wall-mount-efx-800-series" class="nav-collection-item">BAYS Wall Mount EFX 800 Series</a>
                </div>

                <div class="col-12 flex-column nav-collection-items-wrapper" id="deluxeChild">
                <a href="/collections/deluxe/eaf-100-150" class="nav-collection-item">EAF-100-150</a>
                <a href="/collections/deluxe/eaf-200-250-275" class="nav-collection-item">EAF-200-250-275</a>
                <a href="/collections/deluxe/eaf-225" class="nav-collection-item">EAF-225</a>
                <a href="/collections/deluxe/eaf-350" class="nav-collection-item">EAF-350</a>
                <a href="/collections/deluxe/eaf-700-750" class="nav-collection-item">EAF-700-750</a>
                <a href="/collections/deluxe/eaf-500-550" class="nav-collection-item">ETF-500-550</a>
                <a href="/collections/deluxe/eaf-800" class="nav-collection-item">ETF-800</a>
                </div>

                <div class="col-12 flex-column nav-collection-items-wrapper" id="standardChild">
                <a href="/collections/standard/etf-700-ebf-750" class="nav-collection-item">ETF-700/EBF-750</a>
                <a href="/collections/standard/etf-700-s-ebf-750-s" class="nav-collection-item">ETF-700-S/EBF-750-S</a>
                <a href="/collections/standard/sloan-sf-2100-2150" class="nav-collection-item">Sloan SF-2100-2150</a>
                <a href="/collections/standard/sloan-sf-2200-2250" class="nav-collection-item">Sloan SF-2200-2250</a>
                <a href="/collections/standard/sloan-sf-2300-2350" class="nav-collection-item">Sloan SF-2300-2350</a>
                <a href="/collections/standard/sloan-sf-2400-2450" class="nav-collection-item">Sloan SF-2400-2450</a>
                </div>
                <!-- /Faucets -->

                <!-- Soap Dispensers -->
                <div class="col-12 flex-column nav-collection-items-wrapper" id="optimaChild">
                <a href="/collections/optima/optima-esd-200" class="nav-collection-item">Optima ESD-200</a>
                <a href="/collections/optima/optima-esd-250" class="nav-collection-item">Optima ESD-250</a>
                </div>

                <div class="col-12 flex-column nav-collection-items-wrapper" id="sloanSoapChild">
                <a href="/collections/sloan-soap-dispensers/sloan-esd-1500" class="nav-collection-item">Sloan ESD-1500</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-2000" class="nav-collection-item">Sloan ESD-2000</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-2100" class="nav-collection-item">Sloan ESD-2100</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-360" class="nav-collection-item">Sloan ESD-360</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-400" class="nav-collection-item">Sloan ESD-400</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-410" class="nav-collection-item">Sloan ESD-410</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-420" class="nav-collection-item">Sloan ESD-420</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-500" class="nav-collection-item">Sloan ESD-500</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-600" class="nav-collection-item">Sloan ESD-600</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-700" class="nav-collection-item">Sloan ESD-700</a>
                <a href="/collections/sloan-soap-dispensers/sloan-esd-800" class="nav-collection-item">Sloan ESD-800</a>
                </div>
                <!-- /Faucets -->
            </div>
            </div>
        </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link main-link" href="/pages/sloan-repair-parts">Sloan Repair Parts</a>
    </li>

    <li class="nav-item">
        <a class="nav-link main-link" href="/collections/plumbing-toiletry-accessories">Plumbing & Toiletry Accessories </a>
    </li>

    <li class="nav-item">
        <a class="nav-link main-link" href="/pages/resources">Resources</a>
    </li>

    <li class="nav-item">
        <a class="nav-link main-link" href="/pages/contact">Contact</a>
    </li>
</div>