<link rel="stylesheet" href="{{ 'email-banner.scss.css' | asset_url }}">

<!-- Email Sign Up -->
<section class="email-banner w-full" style="background-image: url({{ bg_img }});">
    <div class="email-text-container text-white">
        <h3>Get Our Latest Deals</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        </p>
        <div class="input-group">
            <input placeholder="Enter your email" type="email" class="email-input" />
            <button type="submit" class="email-submit cta-btn">Sign Up</button>
        </div>
        <small>By clicking Sign Up you're confirming that you agree with our <a href="/pages/terms-conditions">Terms and Conditions.</a></small>
    </div>
</section>
<!-- /Email Sign Up -->