<div class="hero-banner" style="background-image: url('{{ img }}')">
    <h1>Describe what makes your company unique</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
    </p>
</div>