<a href="{{ routes.root_url }}" class="nav-logo d-flex align-items-center header__heading-link link link--text focus-inset">
    <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/logo.svg?v=1666213855" alt="logo">
    U-Plumb-It
</a>