<link rel="stylesheet" href="{{ 'in-store-brands.scss.css' | asset_url }}">

<!-- In-Store Brands -->
<section class="in-store-brands">
    <p class="text-center brands-we-carry">In-Store Brands We Carry</p>

    <div class="brand-wrapper">
      <div class="d-flex brand-container">
        {% for block in section.blocks %}
          <div class="brand">
            <img src="{{ block.settings.image | img_url: 'master' }}" />
          </div>
        {% endfor %}
      </div>
    </div>
</section>
<!-- /In-Store Brands -->

{% schema %}
    {
        "blocks": [
            {
                "type": "image",
                "name": "Brand image",
                "settings": [
                    {
                        "type": "image_picker",
                        "label": "Brand image",
                        "id": "image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "category": "image",
                "name": "In Store Brands"
            }
        ]
    }
{% endschema %}