<link rel="stylesheet" href="{{ 'in-store-products.scss.css' | asset_url }}">

<div class="in-store-products d-flex flex-wrap w-full justify-content-center">
    {% for block in section.blocks %}
        <div class="product-block">
            <img src="{{ block.settings.image | img_url: 'master' }}" class="block-img"></div>
            <p>{{ block.settings.text }}</p>
        </div>
    {% endfor %}
</div>

{% schema %}
    {
        "blocks": [
            {
                "type": "image",
                "name": "in-store product",
                "settings": [
                    {
                        "type": "image_picker",
                        "label": "product image",
                        "id": "image"
                    },
                    {
                        "type": "text",
                        "label": "product description",
                        "id": "text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "category": "image",
                "name": "In Store Products"
            }
        ]
    }
{% endschema %}