<link rel="stylesheet" href="{{ 'in-store-brands.scss.css' | asset_url }}">

<!-- In-Store Brands -->
<section class="in-store-brands">
    <p class="text-center brands-we-carry">In-Store Brands We Carry</p>

    <div class="brand-wrapper">
        <div class="d-flex justify-content-center align-items-center flex-column brand-container">
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
        </div> 

        <div class="d-flex justify-content-center align-items-center flex-column brand-container">
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column brand-container">
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
            <div class="brand"></div>
        </div>
    </div>
</section>
<!-- /In-Store Brands -->