<link rel="stylesheet" href="{{ 'sloan-repair-parts.scss.css' | asset_url }}">

<div id="sloan-repair-parts-page">
    <div class="lg-container">
        <h1>Explore Our Essential Sloan Flush Valve Repair Parts</h1>
        <p class="page-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        {% section 'in-store-products' %}
    </div>
</div>