<link rel="stylesheet" href="{{ 'resources.scss.css' | asset_url }}">

<div id="resources-page">

  {% render 'breadcrumbs' %}

  <div class="lg-container">

    <div class="resources-page-wrapper">

      <span>Resources</span>
      <h2>Find All The Information You Need</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>

    </div>

  </div>

  {% capture img_link %}{{ 'home-email-banner.jpg' | file_url }}{% endcapture %}
  {% render 'email-banner' bg_img: img_link %}

</div>